---
import Nav from "./components/Nav"
import MainLayout from "../layouts/main-layout.astro"
---

<MainLayout title="Sam Mroz Personal Website">
	<h1>Hello there</h1>
</MainLayout>



<script>
	
	//Use logic
</script>