---
const { title } = Astro.props;

import "@/styles/globals.css";
import Nav from "@/components/nav.tsx";
import { cn } from "@/lib/utils";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sam Mroz" />
    <meta title={title} />
  </head>
  <body>
    <Nav client:load />
    <main
      class="px-4 py-2 sm:px-16 sm:py-4 md:px-32 lg:px-64 lg:py-8 xl:px-80 2xl:px-96"
    >
      <slot />
    </main>
  </body>
</html>
