---
const { title, className } = Astro.props;

import "@/styles/globals.css";
import Nav from "@/components/nav.tsx";
import { cn } from "@/lib/utils";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sam Mroz" />
    <meta title={title} />
    <!-- https://fonts.google.com/specimen/Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col min-h-screen">
    <Nav client:load />
    <main
      class={cn(
        "flex flex-col grow px-2 py-2 sm:px-4 sm:py-4 md:px-8 lg:px-16 lg:py-8 xl:px-32 2xl:px-64",
        className,
      )}
    >
      <slot />
    </main>
  </body>
</html>
