---
const { title } = Astro.props;
import Nav from "@/components/nav.tsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sam Mroz" />
    <meta title={title} />
  </head>
  <body>
    <main>
      <Nav client:load />
      <slot />
    </main>
  </body>
</html>
